
#container{
    width: 350px;
    height: 600px;
    background-color: darkgray;

}

#div1{
    width: 100px;
    height: 150px;
    background-color: blueviolet;

    /*float:浮动，会将元素从上到下的顺序改变，变成在屏幕上浮动拼接*/
    float: left;
}

#div2{
    width: 150px;
    height: 100px;
    background-color: blue;
    float: left;
}

#div3{
    width: 200px;
    height: 100px;
    background-color: paleturquoise;
    float: left;
}

#text{
    /*clear: 清除浮动*/
    clear: left;
}
