.p1{
    /*width: 400px;*/
    line-height: normal;
    max-width: 250px;
}
.p2{
    /*width: 400px;*/
    /*line-height: 200%;*/
    min-width: 100px;
    min-height: 200%;
}
.p3{
    width: 400px;
    line-height: 50%;
}