h2{
    /*h2 左侧缩进-2em, 文本会跑到屏幕外面2em*/
    text-indent: -2em;
    /*h2 浮动缩进2em， 将外侧的文本整体浮动到屏幕2em*/
    padding-left: 2em;
}

div{
    padding-left: 2em;
}



h3{
    color: darkgreen;
    text-align: left;
    text-indent: 2em;
}

p{
    color: blue;
    /*text-shadow: 左边距  上边距 透明度 颜色值;*/
    text-shadow: 5px 20px 5px #FF0000;
}

h4{
    text-transform: uppercase;
}

h5{
    width: 80px;
    text-transform: lowercase;
    text-wrap: normal;
}