#tb,tr,th,td{
    border: 1px solid blue;
    text-align: center;
}

#tb{
    /*折叠边框*/
    border-collapse: collapse;
    width: 400px;
    /*height: 400px;*/
    background-color: antiquewhite;
}

#tb td, #tb th{
    /*内边距*/
    padding: 5px;
}